.menu-bg{
    /*background: rgb(55,0,255);
    background: linear-gradient(90deg, rgba(55,0,255,1) 0%, rgba(255,0,108,1) 100%);*/
    background-color: #06113C;
}

.login{
    
    border: 1px solid white;
}

.registrar{
    background-color: rgba(255, 0, 0, 0.724);
}

.nav-link{
    color: #ffffff  !important;
}

.Buscar{
    background-color: #ffffff;
    color: blue;
    border: #2f2f2f;
}

body{
    background-color:#f5f5f5;
}

footer{
    background-color: #2f2f2f;
}

.bg-w{
    background-color: #ffffff;
}

#carousel-b{
    border: 3px solid #000000;
}

#bg-b-txt{
   background-color: #000000;
   opacity: 50%;
}

#txt-w{
    color: #ffffff !important;
}

.image-parent {
    max-width: 40px;
}
